{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center">
 
  
    <div class="col-md-7 col-lg-5">
      <div id="snackbar">Job Saved!</div>
      <h1 class="h1 job-search-header mt-4 mb-4 job-font">SEARCH FOR JOBS</h2>
      <form method="POST" id="job_search_form">
        
        {{ form.hidden_tag() }}
  
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}  
        <button class="btn btn-primary btn-lg btn-block mb-20" id="search-btn">Search!</button>
      </form>

  
        
    </div>
  </div>
<div class="row">
  <div class="column mt-2 bg" id="search-results">
    <div class="row">
      <section class="jobs-container">
        <ul>
          {% for job in json_data.jobs %}
            <li class="list-group-item jobs-list not-saved" id="{{ job.id }}">
              <span id="{{ job.title }}" class="h4 job-header"> <a href="{{ job.url }}"><b>{{ job.title }}  </b> </span></a>
              <span type="hidden" id="job-url">{{ job.url }}</span> 
      

                <btn class="btn"><i class="far fa-star star" id="star" style="color: #063ae6"></i></btn>
                <!-- <span class="toast" role="alert" data-delay="1000" aria-live="assertive" aria-atomic="false" data-target="{{ job.id }}" style="display:inline">

                  <span class="toast-body" style="display:inline">
                    Saved!
                  </span> -->
                </span>
              <br>

                <span id="job-category" class="h5">{{ job.category }}</span>
                <span id="location-text">{{ job.candidate_required_location }}</span> 
              <br>
                <p id="{{ job.company_name }}" class="company-name"><strong>Company: </strong>{{ job.company_name }}</p>
              <br>
              <div id="accordion">
                <div class="card">
                  <div class="card-header" id="heading{{ job.id}}">
                      <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapse{{ job.id }}" aria-controls="collapse" aria-expanded="false">
                        Job Description
                      </button>
                        <div id="collapse{{ job.id }}" class="collapse" aria-labelledby="heading{{ job.id }}" data-parent="#accordion"> 
                      <div class="card-body"> {{ job.description|safe }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </li>
            </li>
          
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>

</div>

  {% endblock %}