{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="h2">Search for Jobs</h2>
      <form method="POST" id="job_search_form">
        
        <!-- *********LIST INFO FOR  -->
        
        {{ form.hidden_tag() }}
  
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}  
        <button class="btn btn-primary btn-lg btn-block mb-20">Search!</button>
      </form>

  
        
    </div>
  </div>
<div class="row">
  <div class="column mt-2" id="search-results">
    <div class="row">
      <section class="jobs-container">
        <ul>
          {% for job in json_data.jobs %}
            <li class="list-group-item jobs-list not-saved" id="{{ job.id }}">
              <span id="{{ job.title }}" class="h4 job-header"> <a href="{{ job.url }}"><b>{{ job.title }}  </b> </span></a>

                <btn class="btn"><i class="far fa-star star" id="star" style="color: #063ae6"></i></btn>

              <br>

              <span id="job-category" class="h5">{{ job.category }}</span>
              <span id="location-text">{{ job.candidate_required_location }}</span> 
              <br>
              <p id="{{ job.company_name }}" class="company-name"><strong>Company: </strong>{{ job.company_name }}</p>
              <br>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-{{ job.id }}"  aria-expanded="false">
                Job Description
              </button>
              <div id="collapse-{{ job.id }}"> {{ job.description|safe }}
              </div>
            </li>
          
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
</div>

  {% endblock %}